{{ if .BasicInfo.Contacts }}
<div class="sideSection contact">
    <ul>
        {{ range .BasicInfo.Contacts }}
        <li class="contact__item">
            {{ if .Info }}
                <i class="{{ .Icon }}"></i><span>{{ .Info | safeHTML }}</span>
            {{ else if .Onclick}}
                <i class="{{ .Icon }}"></i><a href="{{ .Class | safeHTML }}" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/joaotnlima'});return false;">{{ .Label | safeHTML }}</a>
            {{ else }}
                <i class="{{ .Icon }}"></i><a target="_blank" href="{{ .Href | safeURL }}">{{ .Label | safeHTML }}</a>
            {{ end }}
        </li>
        {{ end }}
    </ul>
</div>
{{ end }}
